$font: "Open Sans";
$primary: #333;
$Black18: #181818;
$White: #FFFFFF;
$Login-BG: #21453C;
$Page-BG: #F3F3F3;
$TextUI-Green: #4FA556;
$Breathe-ESG-Green: #235E4A;
$BlockUI-green: #2E9844;
$Dark-Grey: #333333;
$Grey: #9F9F9F;
$Grey-light-Block: #FAFAFA;
$Grey-Lightest: #F3F3F3;
$Grey-Darker: #666666;
$Error-Red: #F04F6D;
$Error-Red-trial: #ED6262;
$Mandatory-Red: #CA3C25;
$Warning-Amber: #F09948;
