.download-csv {
  margin: auto;
  .download-csv-button {
    background-color: $TextUI-Green;
    color: $White;
    padding: 16px;
    border-radius: 4px;
    text-decoration: none;
  }
}
.custom-table {
  table-layout: auto;
  .sortable {
    cursor: pointer;
  }
  .sortable:hover {
    opacity: 0.8;
  }
}
